<ul class="navbar">
    <ul>
        <li>
            <img class="pichinchaLogo" alt="Pichincha Logo" src="../../assets/images/MainPichincha.png" />
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/ricardo-ortiz-649781152/" target="_blank">
                <img width="40px" alt="linkedin" src="../../assets/images/linkedin.png" />
            </a>
        </li>
    </ul>

</ul>

<section class="container">
    <div class="left">
        <div class="left_box" *ngFor="let menu of menuItems" (click)="redirect(menu)">{{menu.name}}</div>
    </div>
    <section class="content-mesage">
        <router-outlet></router-outlet>
    </section>
</section>